@font-face {
  font-family: "Plus Jakarta Sans";
  src: url('./fonts/PlusJakartaSans-Regular.ttf');
}

:root {
  --bg: #ffffff;
  --primary: #0066FF;
  --primary-hover: rgb(0, 65, 162);
  --primary-active: rgb(0, 50, 125);
  --secondary: #00e676;
  --tertiary: #ff9100;
  --neutral: #000000;
  --stroke: #e0e0e0;
}

html * {
  font-family: "Plus Jakarta Sans", sans-serif;
}

html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
}

input {
  height: 25px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid var(--stroke);
}

button {
  border-radius: 10px;
  height: 35px;
  border: none;
  background-color: var(--primary);
  color: var(--bg);
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-hover);
}

button:active {
  background-color: var(--primary-active);
}

select {
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid var(--stroke);
}